*{
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
}

h1{
    color: #4609b9;
}
h3,a{
    color: #8103d0;
}

.flex-centre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-container{
    flex-direction: column;
    padding: 16px;
}

.form-container{
    
}

.button{
    background-color: #8103d0;
    padding: 10px;
    border-radius: 5%;
    border: 2px solid #8103d0;
    margin: 16px 0px;
    color: #ffffff;
    cursor: pointer;
}

.button:hover{
    background-color: #ffffff;
    border: 2px solid #8103d0;
    color: #000000;
}
