<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/create.css}">
    <title>Add Product</title>
</head>
<body>
    <div class="heading-container flex-centre">
        <img th:src="@{/images/logo.png}" alt="logo image">
        <h1>Product Management</h1>
    </div>

    <!-- Add product form start here -->
    <div class="form-container">
        <a th:href="@{/products}"><b>Back</b></a>
        <h3>New Product</h3>
        <form th:action="@{/products/create}" th:object="${productForm}" method="post">
            <div class="field">
                <label for="code">Code:</label>
                <input type="text" name="code"  th:field="*{code}">
                <span style="color: red;" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
            </div>
            <div class="field">
                <label for="name">Name:</label>
                <input type="text" name="name"  th:field="*{name}">
                <span style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
            <div class="field">
                <label for="price">Price:</label>
                <input type="number" name="price"  th:field="*{price}">
                <span style="color: red;" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
            </div>
            <div class="field">
                <label for="quantity">Quantity:</label>
                <input type="number" name="quantity"  th:field="*{quantity}">
                <span style="color: red;" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
            </div>
            <div class="field">
                <label for="image">Image:</label>
                <input type="text" disabled name="image" >
            </div>
            <div><input type="submit" value="Create" class="button"></div>
        </form>
    </div>
    <!-- Add product form end here -->

</body>
</html>
